body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  color: white;
  text-align: center;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  font-weight: bold;
  z-index: 2;
}

.banner {
  background-image: url(logo.png);
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
  border:none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: #333;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  padding: 30px;
}

.servicio {
  margin-bottom: 20px;
}

form input, form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
}

form input[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}
.font-text {
  text-align: left;
  margin-bottom: 5%;
  margin-right: 50%;
  margin-left: 5%;
}
.hero-image {
  height: 450px;
  object-fit: cover;
  width: 100%;
  display: block; /* Asegúrate de que la imagen sea un bloque */
}

.custom-h5{
  font-family: "Tenor Sans", sans-serif;
  font-style: italic;
  font-size: 31.0px;
  display: block;
  font-weight:400;
  letter-spacing: 0.0em;
  line-height: 1.2;
  color: #ffff;
  text-align:start;
  margin-bottom: 0px;
}

.custom-p{
  font-size: 1rem;
  color: #ffff;
  text-align: center;
  margin-bottom: 20px;
}

.image-overlay-container {
  position: relative; /* Necesario para posicionar la capa oscura */
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Negro con 50% de opacidad */
  z-index: 1; /* Asegura que la capa oscura esté encima de la imagen */
}